* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html {
  font-size: 62.5%; /* 1rem = 10px */
}
body {
  font-size: 1.6rem;
  color: #FFF;
  overflow-x: hidden;
  background:black ;
}

a:link, a:visited,  a:hover, a:active{
  text-decoration: none;
}

