
.main {
    background: #000000;
    height: 100vh;
}

.stepWizard {
    display: flex;
    justify-content: center;
    padding-top: 14.2rem;
}

.stepWizardList {
    display: flex;
    padding: 20px 10px;
    position: relative;
    z-index: 10;
}

.stepWizardItem {
    display: flex;
    flex-direction: column;
    padding: 0 20px;
    text-align: center;
    list-style: none;

    flex-basis: 0;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
    min-width: 170px;
    position: relative;
}

.stepWizardItem + .stepWizardItem::after {
    content: "";
    position: absolute;
    left: 0;
    top: 43.5px;
    width: 100%;
    height: 3px;
    background: #8E05C2;
    transform: translateX(-50%);
    z-index: -10;
}

.progressCount {
    height: 87px;
    width: 87px;
    font-weight: 400;
    font-size: 32px;

    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin: 0 auto;
    z-index: 10;
    background: #fcfcfc;
    color: #000000;
}

.progressLabel {
    font-weight: 400;
    font-size: 24px;
    padding: 10px;
}

.cardsDays {
    display: flex;
    justify-content: center;
    color: #fcfcfc;
    padding-top: 3.88rem;
}

.cardsDaysList {
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 7.8rem;
}

.cardsDaysItem {
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

    width: 210px;
    height: 99px;
    flex-shrink: 0;
    background: #D9D9D9;
    color: #000000;
}

.tableInfomationIngresso {
    display: flex;
    flex-direction: column;
}

.line {
    display: flex;
    width: 1000px;
}

.daystitle{
    text-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    font-size: 2.4rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.datetitle {
    text-align: center;
    text-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
}

.sectionIngresso {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 7.31rem;
    height: 100vh;
    background: #000000;
}

.selected {
    background-color: #3E065F;
    color: #D9D9D9;
  }

.tableTitles {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    justify-items: center;
    padding: 24px;
}

.tableItensList {
    display: flex;
    justify-content: space-around;
    justify-items: center;
    padding: 24px;
}

.titleTable {
    width: 200px;
    text-align: center;
    font-size: 32px;
    font-weight: 400;
    line-height: 38.4px;
}

.td, .tdValue {
    width: 200px;
    font-size: 24px;
    text-align: center;
}

.tdValue {
    display: relative;
    margin-top: 15px;
}

.buttonAddSubtract {
    display: flex;
    flex-direction: row;
    width: 200px;
    justify-content: center;
}

.workTime {
    margin: 0 32px 0 32px;
    display: relative;
    margin-top: 15px;
    font-size: 24px;
}

.btnMinus, .btnPlus {
    display: relative;
    margin-top: 13px;

    width: 41px;
    height: 41px;

    cursor: pointer;

    background-color: black;
    color: #610094;
    border-radius: 50%;
    border: #610094 3px solid;

    font-size: 32px;
    text-align: center;
}

.totalCart {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 32px;
    font-weight: 400;
    line-height: 38.4px;
    padding-top: 4rem;
}

.btnNext {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 400;
    margin-top: 4rem;

    width: 220px;
    height: 89px;
    background: #610094;

    cursor: pointer;
    padding: 16px;
    font-size: 24px;
    color: #fcfcfc;
}

.Image, .Imagens{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000000;
}