.finalSection {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 4rem;
}
.tableTitle,
.pageTitle {
  width: 100%;
  display: flex;
  justify-content: center;
  font-size: 32px;
  align-items: center;
}

.informationTable {
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  padding-inline: 4rem;
  padding-block: 4rem;
  margin-top: 5rem;
  border: #fcfcfc solid 1px;
  border-radius: 15px;
  width: 918px;
}

.informationList {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  padding-top: 1rem;
}

.informationListItem {
  font-size: 24px;
  list-style: none;
  padding: 10px;
}

.buttonsContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 4rem;
  padding: 10px;
}

.btnNext {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight: 400;

  width: 220px;
  height: 89px;
  background: #610094;

  cursor: pointer;
  padding: 16px;
  font-size: 24px;
  color: #fcfcfc;
  border: none;
}

.btnBack {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 220px;
  height: 89px;
  font-size: 24px;
  color: #fcfcfc;
  background-color: black;
  cursor: pointer;
  border: none;
}

@media screen and (max-width: 600px) {
  .finalSection {
    margin-top: 2rem;
  }
  .pageTitle {
    font-size: 1.8rem;
  }

  .informationTable {
    width: 90%;
    margin: 2rem;
    padding-block: 2rem;
    padding-inline: 1rem;
  }

  .tableTitle {
    font-size: 1.8rem;
  }

  .informationListItem {
    font-size: 1.4rem;
  }

  .buttonsContainer {
    margin-top: 1.5rem;
  }

  .btnNext,
  .btnBack {
    margin-top: 0rem;
    width: 13rem;
    height: 5.8rem;
    font-size: 1.8rem;
  }
}
