.main {
  background-color: black;
  min-height: 50vh;
  min-width: 100vw;
}

.successSection {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #000;
  margin-top: 4rem;
}

.pdfBox {
  display: flex;
  flex-direction: row;
  width: 686px;
  height: 67px;
  justify-content: space-between;
  align-items: center;
  border: #fcfcfc solid 1px;
  padding: 30px;
  cursor: pointer;
  margin-top: 5rem;
}

.successTitle {
  font-size: 42px;
  color: #8e05c2;
}

.successText {
  font-size: 32px;
}

.btnFinish {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 400;
  margin-top: 6rem;

  width: 220px;
  height: 89px;
  background: #610094;

  cursor: pointer;
  border: none;
  padding: 16px;
  font-size: 24px;
  color: #fcfcfc;
}
