.progressCount {
  background: #8e05c2 !important;
}

.successSection {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 4rem;
}

.pdfBox {
  display: flex;
  flex-direction: row;
  width: 686px;
  height: 67px;
  justify-content: space-between;
  align-items: center;
  margin: 100px;
  border: #fcfcfc solid 1px;
  padding: 30px;
  cursor: pointer;
}

.successTitle {
  font-size: 42px;
  color: #8e05c2;
}

.successText {
  font-size: 32px;
}
