.container {
  height: 100%;
  width: 100%;
  background: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.body {
  max-width: 128rem;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}

.title {
  display: relative;
  width: 100%;
  background-image: url(../../../../public/imagens/títulos_coreanos/FAQ.svg);
  background-repeat: no-repeat;
  background-position-x: 12rem;
  background-position-y: 8rem;
  margin: -4rem 0rem 5rem 20rem;
  padding: 9rem 1rem 1rem 0rem;
}

.h1 {
  font-size: 6.4rem;
}

.FAQ {
  margin: 3rem 0rem 5rem 10rem;
}

.h2 {
  font-size: 3.2rem;
  padding-top: 1rem;
}

.colortext {
  color: #8e05c2;
  font-size: 3.2rem;
}

.QandA {
  box-sizing: border-box;
  border-bottom: 2px solid white;
  margin: 0;
}
.question {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 3rem;

  margin-bottom: 3.2rem;
}

.question button {
  background-color: transparent;
  width: 5rem;
  height: 5rem;
  border: none;
}

.answer {
  font-size: 2.4rem;
  margin-bottom: 3rem;
  width: 98rem;
  text-align: justify;
}

.vermais {
  border-bottom: 2px solid white;
  margin-left: 110.9rem;
  width: 9.8rem;
  margin-top: 1rem;
  font-size: 2.4rem;
}

@media screen and (max-width: 43rem) {
  .body {
    width: 43rem;
    display: flex;
    align-items: center;
  }
  .title {
    background-position: center;
  }
  .title h1 {
    font-size: 6.4rem;
  }

  .QandA {
    width: 100%;
  }

  .question {
    font-size: 1.8rem;
  }
  .answer {
    font-size: 1.6rem;
  }
  .vermais {
    margin-left: 16.6rem;
  }
}
