.colortext {
  color: #8e05c2;
}

.body {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.texto {
  margin-top: 6.6rem;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.desc {
  width: 50.7rem;
  height: 30.1rem;
  margin-left: 7.5rem;
  font-size: 2.4rem;
  line-height: 4.32rem;
}

.quote {
  display: grid;
  flex-direction: column;
  
  margin-left: 5rem;
}

.frase {
  font-size: 2.4rem;
  font-style: italic;
  font-weight: 300;
  line-height: 3.8rem;
  text-align: center;
}

.autor {
  justify-self: flex-end;

  font-weight: 400;
  font-style: normal;
}
