.up {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  margin-top: 10.1rem;
}
.h1 {
  font-size: 3.2rem;
  letter-spacing: 0.1rem;
}

.h2 {
  font-size: 2.4rem;
  letter-spacing: 0.1rem;
  margin-top: 1rem;
}

.inputContainer {
  display: flex;
  justify-content: center;
  height: 6.7rem;
  margin-bottom: 9.1rem;
  margin-top: 4.3rem;
  padding-left: 2rem;
}

.input {
  width: 58rem;
  border-top-left-radius: 2rem;
  border-bottom-left-radius: 2rem;
  font-size: 2rem;
  padding-left: 2.5rem;
  border: none;
}

.buttonEnviar {
  width: 20.1rem;
  background-color: rgba(62, 6, 95, 0.5);
  border-top-right-radius: 2rem;
  border-bottom-right-radius: 2rem;
  font-size: 2.4rem;
  color: white;
  border: none;
  cursor: pointer;
}

.bottom {
  height: 22.8rem;
  background-color: rgba(62, 6, 95, 0.5);

  display: flex;
  flex-direction: column;
  align-items: center;
}

.iconLine {
  width: 58rem;
  height: 3rem;
  margin-top: 4rem;
  margin-bottom: 6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  list-style: none;
}

.infos {
  height: 7.2rem;
  width: 65.2rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.p {
  margin-bottom: 2.8rem;
  font-size: 1.8rem;
}

@media screen and (max-width: 60rem) {
  .up {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .h1 {
    font-size: 2.4rem;
  }

  .h2 {
    font-size: 1.8rem;
  }

  .inputContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .input {
    width: 29.2rem;
    height: 3.4rem;
    font-size: 1.6rem;
    border-radius: 2rem;
  }

  .buttonEnviar {
    margin-top: 2rem;
    width: 9.5rem;
    height: 3.2rem;
    font-size: 1.6rem;
    border-radius: 0;
  }

  .infos {
    width: 34.7rem;
    height: 4.2rem;
    display: flex;
    justify-content: space-between;
  }

  .p {
    font-size: 0.8rem;
  }
}
